{% extends "base.html" %}
{% block content %}
<div class="card-shadow mb-5 p-4">
    <h2 class="mb-4 text-primary">Users</h2>
    {% if users|length == 0 %}
        <div class="alert alert-info">No users yet. Add one below!</div>
    {% endif %}
    <ul class="list-group mb-4">
        {% for user in users %}
        <li class="list-group-item d-flex align-items-center justify-content-between">
            <div>
                <i class="bi bi-person-circle me-2"></i>
                <a href="{{ url_for('get_movies', user_id=user.id) }}" class="btn btn-link">{{ user.name }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('create_user') }}" method="post" class="row g-3 align-items-center">
        <div class="col-sm">
            <input type="text" class="form-control" name="username" placeholder="Add New User" required>
        </div>
        <div class="col-8">
            <button type="submit" class="btn btn-success">Add User</button>
        </div>
    </form>
</div>
{% endblock %}
